<form>
    <div class="form-group">
        <label>Operando A:</label>
        <input type="number" class="form-control" placeholder="Escribe operando A" [(ngModel)]="primerNumero"
            name="Operando A">
    </div>
    <div class="form-group">
        <label>Operando B:</label>
        <input type="number" class="form-control" placeholder="Escribe operando B" [(ngModel)]="segundoNumero"
            name="Operando B">
    </div>
    <button (click)="onSumar()" type="submit" class="btn btn-primary">Sumar</button>
    <button (click)="onRestar()" type="submit" class="btn btn-primary">Restar</button>
</form>